* {
	margin: 0px;
	padding: 0px;
	font-family: 'Rubik', sans-serif;
	border: 0px;
}
.total_amzon_container{
    width: 100%;
    min-width: 1340px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
    width: 100%;
	background-color: #131921;
	color: white;
	padding: 1px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header span {
	font-size: 14px;
	padding: 8px 0 0 0;
	cursor: pointer;
}

.logo {
	display: flex;
	justify-items: baseline;
	padding: 8px;
	margin: 5px 5px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2px;
}

.logo:hover {
	border: 1px solid white;
}

.address {
	display: flex;
	flex-wrap: nowrap;
	padding: 8px;
	margin: 5px 0px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2px;
}

.address:hover {
	border: 1px solid white;
}

.address i {
	padding: 10px 5px 0 0;
	font-size: 20px;
	align-content: flex-end;
	cursor: pointer;
}

.header h5 {
	font-size: 14px;
	font-weight: 800;
	cursor: pointer;
}

.header p {
	font-size: 14px;
	color: #cccccc;
	cursor: pointer;
}

.catagory-div select {
	width: 50px;
	height: 40px;
	padding: 0 0px 0 10px;
	text-align: left;
	border-radius: 5px 0 0 5px;
	background-color: #f3f3f3;
	cursor: pointer;
	margin: 10px 0px 5px 10px;
	border-right: 0px;
}

select {
	padding-right: 500px;
	outline: none;
}

.middle > input {
	min-width: 460px;
	height: 40px;
	margin: 10px 0px;
	outline: none;
}

.srch-icon {
	width: 45px;
	height: 40px;
	border-radius: 0 5px 5px 0;
	background-color: #febd69;
	margin: 10px 0px;
	border-left: 0px;
	cursor: pointer;
}

.srch-icon i {
	padding: 10px 10px 10px 12px;
	font-size: 20px;
	color: black;
}

.Lan .butn-lan {
	position: relative;
}

.Lan img {
	margin: 17px 20px 0 20px;
	padding: 8px;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid transparent;
}

.Lan img:hover butn-lan:hover {
	border: 1px solid white;
}

.inner,
.inner-1 {
	display: none;
	position: absolute;
	width: 230px;
	top: 60px;
	opacity: 0;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px grey;
	top: 80px;
}

.inner-1 {
	width: 470px;
	left: -230px;
}

.inner li:hover,
.inner li input:hover,
.inner-1 p:hover,
.inner-1 p:hover {
	cursor: pointer;
	color: orange !important;
	text-decoration: underline;
}

li > input {
	margin-right: 14px;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: grey;
	padding: 0px;
	margin: 0px;
}

.small {
	font-size: 12px;
	margin: -30px 0 0 0;
}

.small img {
	padding: 0px;
	margin: 20px 0 0 0;
}

.inner > ul > li,
.inner-1 > ul > li,
.inner-2 li {
	list-style-type: none;
	color: black;
	padding: 10px 20px;
}

.radio {
	background-color: red;
	width: 30px;
	height: 30px;
}

.sign_in,
.return {
	display: flex;
	flex-flow: column;
	margin: 3px 10px 0 5px;
	height: 37px;
	padding: 8px;
	border: 1px solid transparent;
	border-radius: 2px;
	line-height: 18px;
}

.sign_in {
	position: relative;
}

.button-signin {
	width: 200px;
	height: 22px;
	background-image: linear-gradient(#febd69c7, gold);
	color: black;
	text-align: center;
	padding-top: 5px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 12px;
	margin: 5px;
}

.sign_in:hover,
return:hover .cart:hover {
	border: 1px solid white;
}

.left-div,
.right-div {
	display: flex;
	flex-direction: column;
	color: black;
	width: 200px;
}

.left-div p,
.right-div p {
	color: black !important;
	font-size: 13px !important;
	margin: 4px 0px;
}

.left-div h5,
.right-div h5 {
	color: black !important;
	font-size: 15px !important;
	padding-bottom: 10px;
}

.ver-divide {
	width: 1px;
	height: 290px;
	background-color: grey;
	margin-right: 20px;
}

.dropdown-contain {
	padding: 0px 19px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.start span:nth-child(1) {
	font-size: 10px;
}

.start span:nth-child(1):hover {
	color: black;
}

.start span:nth-child(2) {
	color: blue;
	cursor: pointer;
	font-size: 10px;
}

.cart {
	display: flex;
	margin: 5px 10px 0;
	height: 37px;
	padding: 8px;
	border: 1px solid transparent;
	border-radius: 2px;
	align-items: baseline;
}

.return p,
.sign_in p {
	font-size: 12px;
	color: white;
}

.cart:hover,
.return:hover {
	border: 1px solid white;
}

.cart i {
	padding: 2px;
	font-size: 30px;
}

.left {
	display: flex;
	flex-direction: row;
}

.right {
	display: flex;
	flex-direction: row;
}

.middle {
	display: flex;
	flex-direction: row;
}

.header-1 {
    width: 100%;
	/* width: 1340px; */
	padding: 2px 0px;
	background: #232f3e;
	display: flex;
	flex-direction: row;
	color: white;
}

.header-1-conatiner {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
}

.header-1 h1 {
	color: white;
	font-size: 13px;
	font-weight: 500;
	line-height: 25px;
}

.header-1 h2 {
	padding: 0px 0 0 5px;
	color: #fffefd;
	font-weight: 100;
	font-size: 19px;
	line-height: 25px;
}

.header-1-right {
	display: table-cell;
	vertical-align: middle;
	display: flex;
	flex-direction: row;
}

.header-1-left {
	display: table-cell;
	display: flex;
	flex-direction: row;
}

.header-1-right img {
	background: white;
	padding: 2px;
	border-radius: 2px;
}

.header-1-content {
	border: 1px solid transparent;
	margin: 0px 8px;
}

.header-1-content:hover {
	border: 1px solid white;
	border-radius: 3px;
	cursor: pointer;
}

.header-1-content:first-child,
.header-1-right:first-child {
	display: flex;
}

.header-1-content:first-child i {
	margin: 0 5px 0 0;
	font-size: 20px;
}

.sort {
    width: 100%;
	display: flex;	
    /* width: 1340px; */
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0px;
	box-shadow: 0 -7px 20px 0px grey;
}

.sort div {
	display: flex;
	flex-direction: row;
}

.sort span {
	color: brown;
	font-size: 13px;
	padding: 0 2px;
}

.sort p {
	font-size: 13px;
}

.sort button {
	padding: 3px 5px;
	display: flex;
	border: 1px solid #808080bf;
	box-shadow: 0 0 8px 0px #8080807a;
	flex-direction: row;
	border-radius: 3px;
}

.sort button i {
	padding: 0px 3px;
}

.sort button p {
	font-size: 10px;
}

.filters {
	width: 210px;
	display: flex;
	flex-direction: column;
	padding: 0px 30px 20px 20px;
}

.departments h5 {
	padding: 0 0 7px 0px;
}

.departments p:not(:first-of-type) {
	padding: 3px 0px 3px 10px;
	font-size: 13px;
}

.departments p:first-of-type {
	font-size: 13px;
}

.cursor:hover {
	cursor: pointer;
	color: orange;
}

.departments {
	padding: 0 0 5px 0;
}

.reviews {
	display: flex;
	flex-direction: column;
}

.reviews h5 {
	padding: 6px 0px;
}

.reviews h6 {
	font-size: 12px;
	font-weight: 100;
}

.reviews > div {
	display: flex;
	flex-direction: row;
	padding: 4px 0px;
	align-items: baseline;
	cursor: pointer;
}

.star {
	margin: 5px 0;
	position: relative;
	display: block;
	color: red;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid orange;
	border-left: 10px solid transparent;
	transform: rotate(35deg);
}

.star:before {
	border-bottom: 8px solid orange;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -4.5px;
	left: -6.5px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}

.star:after {
	position: absolute;
	display: block;
	color: red;
	top: 0.3px;
	left: -10.5px;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid orange;
	border-left: 10px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.star-w {
	margin: 5px 0;
	position: relative;
	display: block;
	color: red;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid grey;
	border-left: 10px solid transparent;
	transform: rotate(35deg);
}

.star-w:before {
	border-bottom: 8px solid grey;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -4.5px;
	left: -6.5px;
	display: block;
	content: '';
	transform: rotate(-35deg);
}

.star-w:after {
	position: absolute;
	display: block;
	color: red;
	top: 0.3px;
	left: -10.5px;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid grey;
	border-left: 10px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.filters input {
	display: none;
}

.brand,
.platform,
.view-dist {
	display: flex;
	flex-direction: column;
}

.h5 {
	padding: 20px 0 10px 0px;
}

.brand-names {
	display: flex;
}

.p {
	font-size: 14px;
	padding: 0 0 0 5px;
	color: #000000cf;
}

.sq-radio {
	width: 10px;
	height: 10px;
	background: white;
	padding: 1px;
	position: relative;
	border: 1px solid grey;
	border-radius: 2px;
}

.sq-radio:hover {
	border: 1px solid lightblue;
	box-shadow: 0 0 5px 0 grey;
}

.sq-radio i {
	font-size: 15px;
	left: -1px;
	top: -1px;
	color: #007185;
	position: absolute;
	display: none;
}

.right:checked ~ .sq-radio i {
	display: block;
}

.price input {
	width: 50px !important;
	display: block;
	padding: 5px 4px;
	border: 1px solid grey;
	border-radius: 3px;
	width: auto;
	margin-right: 5px;
}

.input-price {
	display: flex;
	margin-top: 7px;
}

.price p {
	font-size: 14px;
	padding: 0 0 4px 0;
}

.names {
	display: flex;
}

.seperator {
	width: 2px;
	background: #dddddd;
}

.container {
	display: flex;
	width: 262px;
	flex-direction: row;
	margin-top: 20px;
}

.container-right {
	width: 1078px;
}

.body {
	width: 1340px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.products-container {
	display: flex;
	width: 950px;
	margin: 0px 30px
}

.pro-img img {
	width: 240px;
	margin: 40px 0px;

}

.pro-details {
	margin: 20px;
	font-size: 14px;
	font-weight: 100;
}

.pro-details div:not(:first-child) {
	width: 440px;
	line-height: 25px;
}

.divider-1 {
	height: 2px;
	margin: 0px 30px;
	background: #dddddd;
}

.price span:nth-child(2) {
	font-size: 18px;
	color: brown;
}

.price span:first-child {
	font-size: 10px;
	color: brown;
	vertical-align: text-bottom;
}

.price span:nth-child(3) {
	font-size: 12px;
	color: black;
}

.offer {
	font-size: 12px;
	color: grey;
	line-height: 10px !important;
	overflow: hidden;
	width: 200px;
}

.delivery {
	font-size: 13px;
	color: #000000df;
	font-weight: bold;
	width: 240px !important;
	line-height: 20px !important;
	padding: 10px 0 0 0;
}

.free {
	font-size: 12px;
	color: grey;
	font-weight: 100;
}
.footer{
    width: 100%;
	/* width: 1340px; */
}

.footer-top {
	color: white;
	background: #37475a;
	text-align: center;
	font-size: 12px;
	padding: 12px 0px;
}

.footer-top:hover {
	background: #37475ace;
	cursor: pointer;
}

.footer-middle {
	background: #232f3e;
}

.footer-middle-container {
	width: 1000px;
	margin: 0 auto;
	padding: 40px 0px;
	display: flex;
	justify-content: space-between;
}

.foot h5 {
	color: white;
	font-size: 14px;
	padding: 0 0 8px 0px;
}

.foot p:hover,
.country li:hover {
	cursor: pointer;
	text-decoration: underline;
}

.foot p {
	color: #d1dddd;
	font-size: 13px;
	padding: 7px 0px;
}

.footer-middle-bottom {
	position: relative;
	display: flex;
	justify-content: center;
	color: #eae3e39e;
	padding: 20px 0px 30px 0;
}

.butn-lan {
	border: 1px solid grey;
	padding: 10px 19px;
	font-size: 14px;
	margin-left: 100px;
	border-radius: 4px;
}

.inner-2 {
	visibility: hidden;
	position: absolute;
	width: 230px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 14px 0px grey;
	top: 67px;
	right: 450px;
}

.footer-middle-bottom:hover .inner-2 {
	visibility: visible;
}

.country li {
	padding: 5px 20px 0 0;
	color: #d1dddd;
	list-style-type: none;
	font-size: 12px;
}

.country {
	display: flex;
	width: 1000px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding-bottom: 40px;
}

.mnu {
	padding: 10px 20px;
	width: 20%;
	box-sizing: border-box;

}

.mnu h5 {
	font-size: 10px;
	color: #d1dddd;
}

.mnu p {
	font-size: 9px;
	color: #d1ddddee;
}

.mnu p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.footer-bottom-container {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
	justify-content: flex-start;
	margin: 0 auto;
}

.footer-bottom {
	background: #131a22;
	padding: 30px 0px;
}

.end {
	display: flex;
	flex-direction: roe;
	justify-content: center;
}

.end li {
	padding: 20px 10px;
	color: white;
	list-style-type: none;
	font-size: 12px;
}

.products:first-child {
	display: none;
}

.noResult {
	text-align: center;
	padding: 40px;
	display: none;
}

.noResult img {
	margin: 0 auto;
	width: 400px;
}
